---
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/base.njk
templateEngineOverride: njk, md
---
<div class="intro">
<p>Welcome to EMBL e-learning. We are developing new e-learning content that features research carried out and technologies used at EMBL. This will complement our existing bioinformatics online training courses developed at EMBL-EBI. All our content is free to access anytime and anywhere. We hope you enjoy our e-learning courses and welcome your <a href="#">comments</a>.</p>
<h3>New E-learning Courses</h3>
</div>
<section class="courses-list">
<div class="list-item">
<img src="./images/img_microbiome.jpg">
<a href="#">Non-Antibiotic Drugs affect our Gut Bacteria</a>
<p>Explore the effects of human targeted drugs on our gut microbiome in this breakthrough Nature publication, carried out by EMBL scientists.</p>
</div>
<div class="list-item">
<img src="./images/img_optogenetics.jpg">
<a href="#">An Introduction to Optogenetics</a>
<p>Optogenetics is a rapidly emerging method which combines light and genetics to control cellular and developmental processes.</p>
</div>
<div class="list-item">
<img src="./images/img_clem.jpg">
<a href="#">An Introduction to On-section CLEM</a>
<p>Correlative light and electron microscopy (CLEM) is a collection of methods that allows us to locate a molecule of interest within a high-resolution cellular map.</p>
</div>
<div class="list-item">
<img src="./images/img_cytosim.png">
<a href="#">Simulating the Cytoskeleton using Cytosim</a>
<p>Cytosim is a simulation software, developed at EMBL, to simulate realistic individual elements of the cytoskeletal network.</p>
</div>
</section>
<h3>Bioinformatics E-learning</h3>
<div class="list-item">
<img src="./images/img_bioinformatics.jpg">
<p><a href="#">Train online</a> provides free courses on a range of topics in bioinformatics, as well as tutorials and webinars on Europe's most widely used data resources, created by experts at EMBL-EBI and collaborating institutes.</p>
</div>